.sliderPage {
  position: relative;
  margin-top: -55%;
  animation: sliderpage 3s ease-out forwards;
}
@keyframes sliderpage {
  from {
    opacity: 0;
    transform: translateY(100rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.sliderPageHeading {
  position: relative;
  /* margin-top: 10%; */
  font-size: 60px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.description {
  margin-top: 20%;
  position: relative;
  height: -20vh;
  font-size: large;
  text-align: center;
  margin: 0 10%;
  animation-duration: 5s;
  animation-name: page;
}
@keyframes page {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.left img {
  /* overflow: hidden; */
  margin-left: 10px;
  margin-top: 20px;
  animation-duration: 8s;
  animation-name: left;
}
@keyframes left {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.right img {
  /* overflow: hidden; */
  margin-left: 10px;
  margin-top: 20px;
  animation-duration: 10s;
  animation-name: right;
}
@keyframes right {
  0% {
    opacity: 0;
    transform: translateX(130%);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.left {
  animation-delay: 10s;
  /* overflow: hidden; */
  animation-duration: 2s;
  animation-name: leftImg;
  animation-iteration-count: infinite;
}
@keyframes leftImg {
  0% {
    opacity: 1;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
  }
}

.right {
  animation-delay: 6s;
  overflow: hidden;
  animation-duration: 2s;
  animation-name: rightImg;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.imageSlider {
  display: flex;
  overflow: hidden;
}
.buttonFixed {
  position: fixed;
}
.button {
  position: relative;
  display: flex;
  margin-left: -180%;
  margin-top: 300%;
  color: rgb(104, 84, 10);
  font-size: 20px;
  font-weight: bold;
  animation-duration: 8s;
  animation-name: rightButton;
}
@keyframes rightButton {
  0% {
    opacity: 0;
    transform: translateX(130%);
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.button button {
  width: 40px;
  height: 40px;
  border: 3px solid rgb(104, 84, 10);
  background-color: rgb(165, 146, 74);
  border-radius: 55%;
}
